<template>
  <el-main class="page-container">
    <el-row :gutter="20">
      <el-col :span="8">
        <h1>Счета с остатками на дату</h1>
      </el-col>
      <el-col :span="16">
        <h1>Проводки по счету</h1>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="7">
        <el-date-picker
          v-model="selectedDate"
          format="dd.MM.yyyy"
          type="date"
          :picker-options="datePickerOptions"
        />
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="8">
        <accounts-table :date="selectedDate" master @show-detail="showDetail" />
      </el-col>
      <el-col :span="16">
        <transactions-table :account="selectedAccount" />
      </el-col>
    </el-row>
  </el-main>
</template>

<script>
import { mapGetters } from "vuex";
import AccountsTable from "../components/AccountsTable";
import TransactionsTable from "../components/TransactionsTable";
import { createAccount } from "../models/account";
import { DAYS_GETTERS } from "../store/modules/days.store";
import { ACCOUNTS_GETTERS } from "../store/modules/accounts.store";

export default {
  name: "Accounts",
  components: { TransactionsTable, AccountsTable },
  data() {
    return {
      selectedDate: null,
      selectedAccount: createAccount({})
    };
  },
  computed: {
    ...mapGetters([
      DAYS_GETTERS.LAST_AVAILABLE_DAY,
      DAYS_GETTERS.DAYS,
      ACCOUNTS_GETTERS.ACCOUNT_BY_NUMBER,
      ACCOUNTS_GETTERS.ACCOUNTS
    ]),
    datePickerOptions() {
      const _this = this;
      return {
        disabledDate(date) {
          return !_this[DAYS_GETTERS.DAYS].some(
            e => e.date.valueOf() === date.valueOf()
          );
        }
      };
    }
  },
  watch: {
    [DAYS_GETTERS.LAST_AVAILABLE_DAY]: function(val) {
      this.selectedDate = (val && val.date) || null;
    },
    [ACCOUNTS_GETTERS.ACCOUNTS]: function() {
      if (this.$route.params.account)
        this.selectedAccount = this[ACCOUNTS_GETTERS.ACCOUNT_BY_NUMBER](
          this.$route.params.account
        );
    }
  },
  mounted() {
    this.selectedDate =
      this[DAYS_GETTERS.LAST_AVAILABLE_DAY] &&
      this[DAYS_GETTERS.LAST_AVAILABLE_DAY].date;
    if (this.$route.params.account) {
      console.log(
        this[ACCOUNTS_GETTERS.ACCOUNT_BY_NUMBER](this.$route.params.account)
      );
    }
  },
  methods: {
    showDetail(row) {
      this.selectedAccount = row;
      this.$router.push({ ...this.$route, params: { account: row.Acct } });
    }
  }
};
</script>

<style lang="scss" scoped>
/*.btn-add-container {*/
/*  padding-right: 10px;*/
/*}*/
</style>
