<template>
  <el-main class="page-container">
    <el-row :gutter="20">
      <el-col :span="8">
        <h1>Операционные дни</h1>
      </el-col>
      <el-col :span="16">
        <h1>Проводки операционного дня</h1>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="8">
        <days-table @show-detail="showDetail" />
      </el-col>
      <el-col :span="16">
        <transactions-table :day="selectedDay.date" />
      </el-col>
    </el-row>
  </el-main>
</template>

<script>
import { mapGetters } from "vuex";
import TransactionsTable from "../components/TransactionsTable";
// import { createAccount } from "../models/account";
import DaysTable from "../components/DaysTable";
import { createDay } from "../models/day";
import { DAYS_GETTERS } from "../store/modules/days.store";

export default {
  name: "DaysView",
  components: { DaysTable, TransactionsTable },
  data() {
    return {
      selectedDay: createDay({})
    };
  },
  computed: {
    ...mapGetters([DAYS_GETTERS.LAST_AVAILABLE_DAY, DAYS_GETTERS.DAYS])
  },
  watch: {},
  methods: {
    showDetail(row) {
      console.log("selected row ", row);
      this.selectedDay = row;
    }
  }
};
</script>

<style lang="scss" scoped></style>
