<template>
  <el-main class="page-container">
    <el-row :gutter="20">
      <el-col :span="12">
        <h1>Проводки</h1>
      </el-col>
      <el-col :span="12">
        <h1>Счета проводок</h1>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="16">
        <transactions-table master @show-detail="showDetail" />
      </el-col>
      <el-col :span="8">
        <accounts-table :items="slaveItems" />
      </el-col>
    </el-row>
  </el-main>
</template>

<script>
import { mapGetters } from "vuex";
import TransactionsTable from "../components/TransactionsTable";
// import { createAccount } from "../models/account";
// import DaysTable from "../components/DaysTable";
// import { createDay } from "../models/day";
// import TransactionAccountsTable from "../components/TransactionAccountsTable";
import { createTransaction } from "../models/transaction";
import AccountsTable from "../components/AccountsTable";
import { TRANSACTIONS_GETTERS } from "../store/modules/transactions.store";

export default {
  name: "Operations",
  components: { AccountsTable, TransactionsTable },
  data() {
    return {
      transaction: createTransaction({})
    };
  },
  computed: {
    ...mapGetters([TRANSACTIONS_GETTERS.TRANSACTION_INFO]),
    slaveItems() {
      if (this.transaction.date > 0) {
        return this[TRANSACTIONS_GETTERS.TRANSACTION_INFO](this.transaction);
      } else return [];
    }
  },
  watch: {},
  methods: {
    showDetail(row) {
      this.transaction = row;
    }
  }
};
</script>

<style lang="scss" scoped></style>
