<template>
  <div>
    <h3 v-if="!master && tableData.length === 0">
      Выберите счёт
    </h3>
    <el-table
      v-else
      ref="tab"
      :data="tableData"
      style="width: 100%"
      highlight-current-row
      @row-click="showDetail"
      @current-change="handleCurrentChange"
    >
      <el-table-column prop="Acct" label="Счёт" min-width="40" />
      <el-table-column prop="Ost" label="Баланс" min-width="25" align="right">
        <template v-slot:default="{ row }">
          {{ row.Ost | currencyFilter }}
        </template>
      </el-table-column>
      <el-table-column v-if="master" label="" min-width="25" align="right">
        <template v-slot:default="scope">
          <el-button
            icon="el-icon-edit"
            circle
            @click="editRow(scope.row, $event)"
          />
          <el-button
            type="danger"
            icon="el-icon-delete"
            circle
            @click="removeRow(scope.row, $event)"
          />
        </template>
        <template v-slot:header="scope">
          <el-button
            type="success"
            icon="el-icon-plus"
            circle
            @click="newRow($event)"
          ></el-button>
        </template>
      </el-table-column>
    </el-table>
    <create-edit-account
      :account="editCreateDialog.account"
      :mode="editCreateDialog.mode"
      :visible.sync="editCreateDialog.visible"
    />
  </div>
</template>

<script>
import { createAccount } from "../models/account";
import { TableActions } from "../mixins/tableActions";
import { mapActions, mapGetters } from "vuex";
import { currencyFilter } from "../filters/currency.filter";
import CreateEditAccount from "./CreateEditAccount";
import {
  ACCOUNTS_ACTIONS,
  ACCOUNTS_GETTERS
} from "../store/modules/accounts.store";
import { ROOT_ACTIONS } from "../store/store";

export default {
  name: "AccountsTable",
  components: { CreateEditAccount },
  filters: { currencyFilter },
  mixins: [TableActions],
  props: {
    date: {
      type: Date,
      default: () => null
    },
    master: {
      type: Boolean,
      default: false
    },
    items: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      editCreateDialog: {
        visible: false,
        account: createAccount({}),
        mode: "edit"
      }
    };
  },
  computed: {
    ...mapGetters([ACCOUNTS_GETTERS.ACCOUNT_BALANCE]),
    tableData() {
      if (this.master) {
        return this[ACCOUNTS_GETTERS.ACCOUNT_BALANCE](this.date);
      } else {
        return this.items;
      }
    }
  },
  watch: {
    $route(to) {
      if (to.params.account) {
        this.selectFromRoute();
      }
    },
    tableData() {
      this.selectFromRoute();
    }
  },
  mounted() {
    this.selectFromRoute();
  },
  methods: {
    ...mapActions([
      ACCOUNTS_ACTIONS.REMOVE_ACCOUNT,
      ROOT_ACTIONS.FETCH_ACCOUNT_ORIGINAL_BALANCE
    ]),
    selectFromRoute() {
      if (!this.tableData) return;
      if (!this.$route.params.account) return;
      const found = this.tableData.find(
        e => e.Acct === this.$route.params.account
      );
      if (found) this.setCurrent(found);
    },
    setCurrent(row) {
      this.$refs.tab.setCurrentRow(row);
    },
    handleCurrentChange(val) {
      if (this.master) {
        this.currentRow = val;
      }
    },
    editRow(row, evt) {
      evt.stopPropagation();
      this.editAccountRow(row);
    },
    editAccountRow(row) {
      this.editCreateDialog.account = createAccount(row);
      this.editCreateDialog.mode = "edit";
      this[ROOT_ACTIONS.FETCH_ACCOUNT_ORIGINAL_BALANCE](row.Acct)
        .then(data => {
          if (!Array.isArray(data)) return;
          const account = data.pop();
          console.log("received data");
          this.editCreateDialog.account.Ost = account.Ost;
        })
        .catch(e => {
          console.error(e);
          this.editCreateDialog.account.Ost = 0;
        })
        .finally(() => {
          this.editCreateDialog.visible = true;
        });
    },
    newRow(evt) {
      evt.stopPropagation();
      this.createAccountRow();
    },
    createAccountRow() {
      this.editCreateDialog.account = createAccount({});
      this.editCreateDialog.mode = "new";
      this.editCreateDialog.visible = true;
    },
    removeRow(row, evt) {
      evt.stopPropagation();
      this.removeAccountRow(row);
    },
    removeAccountRow(row) {
      this.$confirm("Удалить запись?", "Предупреждение", {
        confirmButtonText: "OK",
        cancelButtonText: "Отмена",
        type: "warning"
      })
        .then(() => {
          this.$message({
            type: "success",
            message: "Счёт " + row.Acct + " удалён"
          });
          this[ACCOUNTS_ACTIONS.REMOVE_ACCOUNT](row);
        })
        .catch(() => {});
    }
  }
};
</script>

<style scoped></style>
