<template>
  <el-dialog
    :title="header"
    :visible="visible"
    width="30%"
    @update:visible="onVisibleChange"
  >
    <p>Счёт</p>
    <el-input v-model="editedAccount.Acct" placeholder="Счёт" />
    <p>Начальный баланс</p>
    <el-input v-model="editedAccount.Ost" placeholder="Начальный баланс" />
    <span slot="footer" class="dialog-footer">
      <el-button @click="$emit('update:visible', false)">Отмена</el-button>
      <el-button type="primary" @click="saveChanges">
        Сохранить
      </el-button>
    </span>
  </el-dialog>
</template>

<script>
import { createAccount } from "../models/account";
import { mapActions } from "vuex";
import { ACCOUNTS_ACTIONS } from "../store/modules/accounts.store";

export default {
  name: "CreateEditAccount",
  props: {
    mode: {
      type: String,
      default: "edit"
    },
    visible: {
      type: Boolean,
      default: false
    },
    account: {
      type: Object,
      default: null
    }
  },
  data() {
    return {
      editedAccount: createAccount({})
    };
  },
  computed: {
    header() {
      return this.mode === "edit" ? "Редактирование счёта" : "Создание счёта";
    }
  },
  watch: {
    visible(visibility) {
      if (visibility) {
        if (this.mode === "new") {
          this.editedAccount = createAccount({});
        } else {
          this.editedAccount = createAccount(this.account);
        }
      }
    }
  },
  methods: {
    onVisibleChange(visibility) {
      if (!visibility) {
        this.$emit("update:visible", visibility);
      } else {
        console.error("Visibility should not be changed to true from below");
      }
    },

    validateEditAccountDialog() {
      if (!this.editedAccount.Acct.match(/[0-9]{20}/)) {
        this.$message({
          type: "error",
          message:
            "Номер счёта должен иметь длинну 20 символов и состоять только из цифр"
        });
        return false;
      }
      if (
        !this.editedAccount.Ost.toString().match(/^-?[0-9]+(\.[0-9]{1,2})?$/)
      ) {
        this.$message({
          type: "error",
          message: "Некорректно введён баланс"
        });
        return false;
      }
      return true;
    },
    saveChanges() {
      if (this.validateEditAccountDialog()) {
        this.editedAccount.Ost = parseFloat(this.editedAccount.Ost.toString());

        if (this.mode === "edit") {
          this[ACCOUNTS_ACTIONS.UPDATE_ACCOUNT]({
            targetNumber: this.account.Acct,
            account: createAccount(this.editedAccount)
          });
        } else {
          this[ACCOUNTS_ACTIONS.CREATE_ACCOUNT](
            createAccount(this.editedAccount)
          );
        }
        this.$message({
          type: "success",
          message: "Данные счёта " + this.account.Acct + " обновлены"
        });
        this.$emit("update:visible", false);
      }
    },
    ...mapActions([
      ACCOUNTS_ACTIONS.UPDATE_ACCOUNT,
      ACCOUNTS_ACTIONS.CREATE_ACCOUNT
    ])
  }
};
</script>

<style scoped></style>
