<template>
  <el-dialog
    :title="header"
    :visible="visible"
    width="30%"
    @update:visible="onVisibleChange"
  >
    <p>Счёт кредита</p>
    <el-input v-model="editedTransaction.AcctCr" placeholder="Счёт кредита" />
    <p>Счёт дебета</p>
    <el-input v-model="editedTransaction.AcctDB" placeholder="Счёт дебета" />
    <p>Сумма</p>
    <el-input v-model="editedTransaction.Amount" placeholder="Сумма" />
    <p>Дата</p>
    <el-input v-model="editedTransaction.OpDate" placeholder="Дата" />
    <span slot="footer" class="dialog-footer">
      <el-button @click="$emit('update:visible', false)">Отмена</el-button>
      <el-button type="primary" @click="saveChanges">
        Сохранить
      </el-button>
    </span>
  </el-dialog>
</template>

<script>
import { mapActions } from "vuex";
import { createTransaction } from "../models/transaction";
import { TRANSACTIONS_ACTIONS } from "../store/modules/transactions.store";

export default {
  name: "CreateEditTransaction",
  props: {
    mode: {
      type: String,
      default: "edit"
    },
    visible: {
      type: Boolean,
      default: false
    },
    transaction: {
      type: Object,
      default: null
    }
  },
  data() {
    return {
      editedTransaction: createTransaction({})
    };
  },
  computed: {
    header() {
      return this.mode === "edit"
        ? "Редактирование проводки"
        : "Создание проводки";
    }
  },
  watch: {
    visible(visibility) {
      if (visibility) {
        if (this.mode === "new") {
          this.editedTransaction = createTransaction({});
        } else {
          this.editedTransaction = createTransaction(this.transaction);
        }
      }
    }
  },
  methods: {
    onVisibleChange(visibility) {
      if (!visibility) {
        this.$emit("update:visible", visibility);
      } else {
        console.error("Visibility should not be changed to true from below");
      }
    },

    validateEditAccountDialog() {
      if (!this.editedTransaction.AcctCr.match(/[0-9]{20}/)) {
        this.$message({
          type: "error",
          message:
            "Номер счёта должен иметь длинну 20 символов и состоять только из цифр"
        });
        return false;
      }
      if (!this.editedTransaction.AcctDB.match(/[0-9]{20}/)) {
        this.$message({
          type: "error",
          message:
            "Номер счёта должен иметь длинну 20 символов и состоять только из цифр"
        });
        return false;
      }
      if (
        !this.editedTransaction.Amount.toString().match(
          /^-?[0-9]+(\.[0-9]{1,2})?$/
        )
      ) {
        this.$message({
          type: "error",
          message: "Некорректно введёна сумма"
        });
        return false;
      }
      if (
        !this.editedTransaction.OpDate.toString().match(
          /^[0-9]{4}-[0-9]{2}-[0-9]{2}$/
        )
      ) {
        this.$message({
          type: "error",
          message: "Некорректно введёна дата (ГГГГ-ММ-ДД)"
        });
        return false;
      }
      return true;
    },
    saveChanges() {
      if (this.validateEditAccountDialog()) {
        this.editedTransaction.Amount = parseFloat(
          this.editedTransaction.Amount.toString()
        );
        this.editedTransaction = createTransaction(this.editedTransaction);
        if (this.mode === "edit") {
          this[TRANSACTIONS_ACTIONS.UPDATE_TRANSACTION]({
            target: this.transaction,
            transaction: createTransaction(this.editedTransaction)
          });
        } else {
          this[TRANSACTIONS_ACTIONS.CREATE_TRANSACTION](
            createTransaction(this.editedTransaction)
          );
        }
        this.$message({
          type: "success",
          message:
            (this.mode === "edit" && "Данные проводки обновлены") ||
            "Проводка сохранена"
        });
        this.$emit("update:visible", false);
      }
    },
    ...mapActions([
      TRANSACTIONS_ACTIONS.UPDATE_TRANSACTION,
      TRANSACTIONS_ACTIONS.CREATE_TRANSACTION
    ])
  }
};
</script>

<style scoped></style>
