<template>
  <el-dialog
    :title="header"
    :visible="visible"
    width="30%"
    @update:visible="onVisibleChange"
  >
    <p>Дата</p>
    <el-input v-model="editedDay.OpDate" placeholder="Дата" />
    <p>Статус</p>
    <el-input v-model="editedDay.OpStatus" placeholder="Статус" />
    <span slot="footer" class="dialog-footer">
      <el-button @click="$emit('update:visible', false)">Отмена</el-button>
      <el-button type="primary" @click="saveChanges">
        Сохранить
      </el-button>
    </span>
  </el-dialog>
</template>

<script>
import { createDay } from "../models/day";
import { mapActions } from "vuex";
import { DAYS_ACTIONS } from "../store/modules/days.store";

export default {
  name: "CreateEditDay",
  props: {
    mode: {
      type: String,
      default: "edit"
    },
    visible: {
      type: Boolean,
      default: false
    },
    day: {
      type: Object,
      default: null
    }
  },
  data() {
    return {
      editedDay: createDay({})
    };
  },
  computed: {
    header() {
      return this.mode === "edit" ? "Редактирование дня" : "Создание дня";
    }
  },
  watch: {
    visible(visibility) {
      if (visibility) {
        if (this.mode === "new") {
          this.editedDay = createDay({});
        } else {
          this.editedDay = createDay(this.day);
        }
      }
    }
  },
  methods: {
    onVisibleChange(visibility) {
      if (!visibility) {
        this.$emit("update:visible", visibility);
      } else {
        console.error("Visibility should not be changed to true from below");
      }
    },

    validateEditAccountDialog() {
      if (
        !this.editedDay.OpDate.toString().match(/^[0-9]{4}-[0-9]{2}-[0-9]{2}$/)
      ) {
        this.$message({
          type: "error",
          message: "Некорректно введёна дата (ГГГГ-ММ-ДД)"
        });
        return false;
      }
      return true;
    },
    saveChanges() {
      if (this.validateEditAccountDialog()) {
        if (this.mode === "edit") {
          this[DAYS_ACTIONS.UPDATE_DAY]({
            targetDate: this.day.OpDate,
            day: createDay(this.editedDay)
          });
        } else {
          this[DAYS_ACTIONS.CREATE_DAY](createDay(this.editedDay));
        }
        this.$message({
          type: "success",
          message: "Данные операционного дня обновлены"
        });
        this.$emit("update:visible", false);
      }
    },
    ...mapActions([DAYS_ACTIONS.UPDATE_DAY, DAYS_ACTIONS.CREATE_DAY])
  }
};
</script>

<style scoped></style>
