<template>
  <div>
    <el-table
      ref="tab"
      :data="DAYS"
      style="width: 100%"
      highlight-current-row
      @row-click="showDetail"
      @current-change="handleCurrentChange"
    >
      <el-table-column prop="OpDate" label="Дата" min-width="40" />
      <el-table-column
        prop="OpStatus"
        label="Статус"
        min-width="25"
        align="right"
      />
      <el-table-column label="" min-width="25" align="right">
        <template v-slot:default="scope">
          <el-button
            icon="el-icon-edit"
            circle
            @click="editRow(scope.row, $event)"
          />
          <el-button
            type="danger"
            icon="el-icon-delete"
            circle
            @click="removeRow(scope.row, $event)"
          />
        </template>
        <template v-slot:header="scope">
          <el-button
            type="success"
            icon="el-icon-plus"
            circle
            @click="newRow($event)"
          ></el-button>
        </template>
      </el-table-column>
    </el-table>
    <create-edit-day
      :day="editCreateDialog.day"
      :mode="editCreateDialog.mode"
      :visible.sync="editCreateDialog.visible"
    />
  </div>
</template>

<script>
import { TableActions } from "../mixins/tableActions";
import { mapActions, mapGetters } from "vuex";
import { currencyFilter } from "../filters/currency.filter";
import CreateEditDay from "./CreateEditDay";
import { createDay } from "../models/day";
import { DAYS_ACTIONS, DAYS_GETTERS } from "../store/modules/days.store";

export default {
  name: "DaysTable",
  components: { CreateEditDay },
  filters: { currencyFilter },
  mixins: [TableActions],
  props: {
    master: { type: Boolean, default: true }
  },
  data() {
    return {
      editCreateDialog: {
        visible: false,
        day: createDay({}),
        mode: "edit"
      }
    };
  },
  computed: {
    ...mapGetters([DAYS_GETTERS.DAYS])
  },
  methods: {
    ...mapActions([DAYS_ACTIONS.REMOVE_DAY]),
    setCurrent(row) {
      this.$refs.tab.setCurrentRow(row);
    },
    handleCurrentChange(val) {
      this.currentRow = val;
    },
    editRow(row, evt) {
      evt.stopPropagation();
      this.editAccountRow(row);
    },
    editAccountRow(row) {
      this.editCreateDialog.day = createDay(row);
      this.editCreateDialog.mode = "edit";
      this.$nextTick(() => {
        this.editCreateDialog.visible = true;
      });
    },
    newRow(evt) {
      evt.stopPropagation();
      this.createAccountRow();
    },
    createAccountRow() {
      this.editCreateDialog.day = createDay({});
      this.editCreateDialog.mode = "new";
      this.$nextTick(() => {
        this.editCreateDialog.visible = true;
      });
    },
    removeRow(row, evt) {
      evt.stopPropagation();
      this.removeAccountRow(row);
    },
    removeAccountRow(row) {
      this.$confirm("Удалить запись?", "Предупреждение", {
        confirmButtonText: "OK",
        cancelButtonText: "Отмена",
        type: "warning"
      })
        .then(() => {
          this.$message({
            type: "success",
            message: "Запись об операционном дне удалена"
          });
          this[DAYS_ACTIONS.REMOVE_DAY](row);
        })
        .catch(() => {});
    }
  }
};
</script>

<style scoped></style>
