<template>
  <el-menu :default-active="activeItem" router>
    <el-menu-item
      v-for="item in menuItems"
      :key="item.id"
      :index="item.id"
      :route="{ name: item.route }"
    >
      <i :class="item.icon"></i>
      <span v-text="item.label">Счета</span>
    </el-menu-item>
  </el-menu>
</template>

<script>
export default {
  name: "LeftMenu",
  data() {
    return {
      menuItems: [
        {
          id: "0",
          icon: "el-icon-setting",
          label: "Счета",
          route: "accounts"
        },
        {
          id: "1",
          icon: "el-icon-setting",
          label: "Операционные дни",
          route: "days"
        },
        {
          id: "2",
          icon: "el-icon-setting",
          label: "Операции",
          route: "operations"
        }
      ],
      activeItem: null
    };
  },
  watch: {
    $route(to) {
      this.activeItem = this.getActiveItemID(to);
    }
  },
  mounted() {
    this.activeItem = this.getActiveItemID(this.$route);
  },
  methods: {
    getActiveItemID(route) {
      const item = this.menuItems.find(e => e.route === route.name);
      return (item && item.id) || null;
    }
  }
};
</script>

<style scoped></style>
