<template>
  <div>
    <el-table
      v-if="account.Acct || day > 0 || master"
      :data="transactions"
      style="width: 100%"
      :highlight-current-row="master"
      @row-click="showDetail"
      @current-change="handleCurrentChange"
    >
      <el-table-column
        prop="date"
        label="Дата операционного дня"
        min-width="25"
      >
        <template v-slot:default="{ row }">
          {{ row.date | filterDate }}
        </template>
      </el-table-column>
      <el-table-column
        prop="AcctCr"
        label="Счёт кредита"
        min-width="25"
        align="left"
      />
      <el-table-column
        prop="AcctDB"
        label="Счёт дебета"
        min-width="25"
        align="left"
      />
      <el-table-column prop="Amount" label="Сумма" min-width="15" align="right">
        <template v-slot:default="{ row }">
          {{ row.Amount | currencyFilter }}
        </template>
      </el-table-column>
      <el-table-column label="" min-width="10" width="150" align="right">
        <template v-slot:default="{ row }">
          <el-button icon="el-icon-edit" circle @click="editRow(row, $event)" />
          <el-button
            type="danger"
            icon="el-icon-delete"
            circle
            @click="removeRow(row, $event)"
          />
        </template>
        <template v-slot:header>
          <el-button
            type="success"
            icon="el-icon-plus"
            circle
            @click="newRow($event)"
          ></el-button>
        </template>
      </el-table-column>
    </el-table>
    <h3 v-else>Выберите счёт</h3>
    <create-edit-transaction
      :transaction="editCreateDialog.transaction"
      :mode="editCreateDialog.mode"
      :visible.sync="editCreateDialog.visible"
    />
  </div>
</template>

<script>
import { createAccount } from "../models/account";
import { TableActions } from "../mixins/tableActions";
import { filterDate } from "../filters/date.filter";
import { mapActions, mapGetters } from "vuex";
import { currencyFilter } from "../filters/currency.filter";
import CreateEditTransaction from "./CreateEditTransaction";
import { createTransaction } from "../models/transaction";
import {
  TRANSACTIONS_ACTIONS,
  TRANSACTIONS_GETTERS
} from "../store/modules/transactions.store";

export default {
  name: "TransactionsTable",
  components: { CreateEditTransaction },
  filters: { filterDate, currencyFilter },
  mixins: [TableActions],
  props: {
    account: {
      type: Object,
      required: false,
      default: () => createAccount({})
    },
    day: {
      type: Date,
      required: false,
      default: () => new Date(0)
    },
    master: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      editCreateDialog: {
        visible: false,
        transaction: createTransaction({}),
        mode: "edit"
      },
      currentRow: null
    };
  },
  computed: {
    ...mapGetters([
      TRANSACTIONS_GETTERS.TRANSACTIONS_BY_ACCOUNT,
      TRANSACTIONS_GETTERS.TRANSACTIONS_BY_DATE,
      TRANSACTIONS_GETTERS.TRANSACTIONS
    ]),

    transactions() {
      if (this.day > 0) {
        return this[TRANSACTIONS_GETTERS.TRANSACTIONS_BY_DATE](this.day);
      } else if (this.account && this.account.Acct) {
        return this[TRANSACTIONS_GETTERS.TRANSACTIONS_BY_ACCOUNT](
          this.account && this.account.Acct
        );
      } else return this[TRANSACTIONS_GETTERS.TRANSACTIONS];
    }
  },
  methods: {
    ...mapActions([TRANSACTIONS_ACTIONS.REMOVE_TRANSACTION]),
    setCurrent(row) {
      this.$refs.tab.setCurrentRow(row);
    },
    handleCurrentChange(val) {
      this.currentRow = val;
    },

    editRow(row, evt) {
      evt.stopPropagation();
      this.editTransactionRow(row);
    },
    editTransactionRow(row) {
      this.editCreateDialog.transaction = createTransaction(row);
      this.$nextTick(() => {
        this.editCreateDialog.mode = "edit";
        this.editCreateDialog.visible = true;
      });
      // });
    },
    newRow(evt) {
      evt.stopPropagation();
      this.createTransactionRow();
    },
    createTransactionRow() {
      this.editCreateDialog.transaction = createTransaction({});
      this.editCreateDialog.mode = "new";
      this.editCreateDialog.visible = true;
    },
    removeRow(row, evt) {
      evt.stopPropagation();
      this.removeTransactionRow(row);
    },
    removeTransactionRow(row) {
      this.$confirm("Удалить проводку?", "Предупреждение", {
        confirmButtonText: "OK",
        cancelButtonText: "Отмена",
        type: "warning"
      })
        .then(() => {
          this.$message({
            type: "success",
            message: "Проводка удалёна"
          });
          this[TRANSACTIONS_ACTIONS.REMOVE_TRANSACTION](row);
        })
        .catch(() => {});
    }
  }
};
</script>

<style scoped></style>
