<template>
  <el-container class="main" style="">
    <el-aside class="left-menu" style="background-color: rgb(238, 241, 246)">
      <h1>БИС тест</h1>
      <left-menu></left-menu>
    </el-aside>
    <router-view />
  </el-container>
</template>
<script>
import LeftMenu from "./components/LeftMenu";
import { ROOT_ACTIONS } from "./store/store";
export default {
  components: { LeftMenu },
  created() {
    this.$store.dispatch(ROOT_ACTIONS.FETCH_INITIAL);
  }
};
</script>
<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}
</style>
<style lang="scss" scoped>
.main {
  min-height: 100vh;
  border: 1px solid #eee;

  .left-menu {
    min-width: 200px;
    width: auto;

    h1 {
      padding: 0 20px;
    }
  }
}

.page-container {
  padding: 20px;
}
</style>
